<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Authentification</h1>
    <hr>
    <br>
    <div>
        <label for="utilisateur"></label>
        <input type="text" id="utilisateur" class="utilisateur"/>
    </div>
    <div>
        <label for="mdp"></label>
        <input type="text" id="mdp" class="mdp"/>
    </div>
    <button>Se connecter</button>
</body>
</html>